@font-face {
  font-family: "MADE Soulmaze";
  src: url(./font-outfit/made-soulmaze-personal-use.otf) format("opentype");
}

@font-face {
  font-family: "Passion One";
  src: url(./font-outfit/PassionOne-Regular.ttf) format("truetype");
}
