:root {
  --made-soulmaze: "MADE Soulmaze", sans-serif;
  --passion-one: "Passion One", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: "Segoe UI"; */
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1a1a;
  padding: 46px 35px 41px 35px;
}

.nav-btn {
  display: none;
}

.nav > .nav-list {
  display: flex;
  gap: 49px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #fffefe;
  font-family: var(--made-soulmaze);
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  text-transform: uppercase;
}
.nav > #nav-check {
  display: none;
}

.social-links,
.social-links-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  padding: 38px 35px 8px 50px;
  background: #1e1a1a !important;
}

.go-to-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
}

.copyright span {
  color: #fff;
  font-family: var(--passion-one);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px; /* 83.333% */
}

/* Accueil Design*/
.accueil-container {
  background-image: url("./images/accueil-bg.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accueil-content {
  padding: 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.categories-container {
  display: flex;
  gap: 133px;
}

.categories-container a {
  color: #fffefe;
  font-family: var(--made-soulmaze);
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
}

.logo-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.logo-content-container p {
  color: #fffefe;
  font-family: var(--made-soulmaze);
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .nav {
    padding: 10px 20px;
    position: relative;
  }

  .nav-btn {
    display: block;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 5px solid #fffefe;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    background-color: #1e1a1a;
    height: 0;
    transition: all 0.3s ease-in;
    top: 95%;
    left: 0;
    overflow: hidden;
    padding: 0 20px;
    z-index: 111;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
  .social-links {
    display: none !important;
  }

  footer {
    padding: 18px 16px 5px 25px;
    background: #1e1a1a !important;
  }

  .go-to img {
    max-width: 30%;
  }

  .nav-title img {
    width: 49px;
    height: 53px;
    object-fit: contain;
  }

  .copyright {
    gap: 10px;
  }

  .copyright span {
    font-size: 12px;
  }

  .accueil-container {
    background-image: url("./images/accueil-bg-mobile.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    object-fit: cover;
  }

  .accueil-content {
    padding: 50px;
    flex-direction: column-reverse;
  }

  .categories-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .hero-desktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Contact us */

  form.contact-us-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .fields input,
  .fields textarea {
    background: #fff;
    box-shadow: 0px 4px 19px -5px #7b1e56;
    border: 0;
    outline: 0;
    padding: 10px 20px;
  }

  .fields input::placeholder,
  .fields textarea::placeholder {
    color: #1e1a1a;
    font-family: var(--made-soulmaze);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  .fields input {
    border-radius: 34px;
    width: 213px;
    height: 37px;
  }

  .fields textarea {
    border-radius: 9px;
    width: 213px;
    height: 90px;
  }

  .fields button {
    width: 116px;
    height: 36px;
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 19px -5px #7b1e56;
    outline: 0;
    border: 0;
    color: #000;
    font-family: var(--made-soulmaze);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    /* align-self: flex-start; */
    /* margin-left: 25px; */
  }

  .empty-box {
    display: flex;
    justify-content: center;
  }

  .empty-box iframe {
    width: 217px;
    height: 201px;
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 19px -5px #7b1e56;
    outline: 0;
    border: 0;
  }

  /* Calendar Design */

  .calendar-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .calendar-card {
    width: 350px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 14px -5px #7b1e56;
  }

  .mode-isolation img {
    width: 33px;
    height: 34px;
  }

  .team-logo img {
    width: 46px;
    height: 44px;
  }

  .caldendar-content p {
    margin: 0;
    color: #1e1a1a;
    text-align: center;
    font-family: var(--passion-one);
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  .caldendar-content .venue {
    font-size: 11px;
  }

  .caldendar-content .vs {
    font-size: 16px;
  }

  .seperator {
    width: 210px;
    height: 6px;
    background: #1e1a1a;
    margin: 50px 0 20px 0;
  }

  .some-text {
    color: #1e1a1a;
    text-align: center;
    font-family: var(--passion-one);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
  }

  /*Tab Sections*/
  .hero img {
    width: 100%;
  }

  .artboard-desktop {
    display: none;
  }

  /* Joueurs Tab */

  section#joueurs {
    text-align: center;
  }

  /* History Tab */

  section#historiques {
    padding: 35px 35px 35px 40px;
    text-align: left;
  }

  section#historiques p {
    color: #000;
    font-family: Overlock;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* Sponsers Tab*/

  #sponsers h2 {
    display: none;
  }

  .sponsers-container,
  .sponsers-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .sponsers-logo-container img {
    max-width: 50%;
  }

  /* .tabset {
    display: none;
  } */
}

@media screen and (min-width: 768px) {
  /* Calendar Desktop */
  .calendar-container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .calendar-card {
    width: 798px;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* padding: 20px; */
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 14px -5px #7b1e56;
  }

  .mode-isolation img {
    width: 100%;
    height: auto;
  }

  .caldendar-content p {
    margin: 0;
    color: #1e1a1a;
    text-align: center;
    font-family: var(--passion-one);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  .caldendar-content .venue {
    font-size: 16px;
  }

  .caldendar-content .vs {
    font-size: 32px;
    margin-top: 5px;
  }

  .team-logo img {
    width: 100%;
    height: auto;
  }

  .seperator {
    width: 861px;
    height: 6px;
    background: #1e1a1a;
    margin: 50px 0 20px 0;
  }

  .some-text {
    color: #1e1a1a;
    text-align: center;
    font-family: var(--passion-one);
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
  }

  /* Contact Us Desktop*/

  form.contact-us-form {
    padding: 90px 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .fields input {
    border-radius: 34px;
    width: 516px;
    height: 87px;
  }

  .fields textarea {
    border-radius: 34px;
    width: 516px;
    height: 217px;
  }

  .fields input,
  .fields textarea {
    background: #fff;
    box-shadow: 0px 4px 19px -5px #7b1e56;
    border: 0;
    outline: 0;
    padding: 28px 38px;
  }
  .fields input::placeholder,
  .fields textarea::placeholder {
    color: #1e1a1a;
    font-family: var(--made-soulmaze);
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }

  .fields button {
    width: 279px;
    height: 87px;
    border-radius: 34px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(123, 30, 86) 0px 4px 19px -5px;
    outline: 0px;
    border: 0px;
    color: rgb(0, 0, 0);
    font-family: var(--made-soulmaze);
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    padding: 0 30px;
  }
  .empty-box {
    display: flex;
    justify-content: center;
  }

  .empty-box iframe {
    width: 526px;
    height: 487px;
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 19px -5px #7b1e56;
    outline: 0;
    border: 0;
  }

  /* Equipe Desktop */
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    width: 100%;
  }

  .artboard-mobile {
    display: none;
  }

  .tab-panels {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  section#historiques {
    padding: 35px 35px 35px 40px;
    text-align: center;
  }

  section#historiques p {
    color: #000;
    font-family: Overlock;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 743px;
  }

  section#sponsers h2 {
    color: #000;
    font-family: Passion One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    margin: 50px 0 80px 0 !important;
  }

  .sponsers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .sponsers-logo-container {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
